# Visual Studio
.vs/
.vscode/
*.suo
*.user
*.userossc
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
[Tt]est[Rr]esult*/
[Tt]est[Rr]esults/
*.appx
*.appxupload
*.builds
*.cab
*.ipa
*.msix
*.msixupload
*.msixbundle
*.nupkg
*.snupkg
*.symbols.nupkg
*.symbols.snupkg
*.swm
*.xap
